html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.text-center{
  text-align: center;
}

.mb-0-75{
  margin-bottom: 0.75rem !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

.ant-form-item{
  margin-bottom: 12px !important;
}

.ant-page-header{
  padding: 4px 24px !important;
}

.ant-pro-basicLayout-content{
  margin: 12px !important;
}