html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

.ant-page-header {
  padding: 4px 12px !important;
}

.ant-pro-page-container-children-content {
  margin: 12px !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mb-0-75 {
  margin-bottom: 0.75rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-1-5 {
  margin-bottom: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.w-60 {
  width: 60px;
}
